[globals]

UI = template/

# global app settings
app.version = "1.0.0"

[routes]

GET /dashboard = App\Controller\DashboardController->indexAction

# Entry management routes
GET /entry/create = App\Controller\EntryController->createAction
POST /createEntry = App\Controller\EntryController->create

GET /entry/@id = App\Controller\EntryController->showAction

GET /entry/@id/edit = App\Controller\EntryController->editAction
POST /editEntry = App\Controller\EntryController->edit

GET /entry/@id/delete = App\Controller\EntryController->deleteAction
POST /deleteEntry = App\Controller\EntryController->delete

# user management routes
GET /login = App\Controller\UserController->loginAction
POST /login = App\Controller\AuthController->loginUser

GET /register = App\Controller\UserController->registerAction
POST /register = App\Controller\AuthController->registerUser

GET /logout = App\Controller\UserController->logoutAction
POST /logout = App\Controller\AuthController->logoutUser

GET /profile = App\Controller\ProfileController->showAction

# Overview page
GET /overview = App\Controller\OverviewController->indexAction

[redirects]

# redirect GET / to /dashboard until we have a proper landing page with login
GET / = /dashboard