<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OFTEN</title>

        {# Include jQuery #}
        <script src="{{ base }}/vendor/components/jquery/jquery.js.min"></script>

        {# Include Bootstrap #}
        <link rel="stylesheet" href="{{ base }}/vendor/components/bootstrap/css/bootstrap.css.min">
        <script src="{{ base }}/vendor/components/bootstrap/js/bootstrap.js.min"></script>
    </head>
    <body>
        {% block navigation %}
            {% include "components/navigation.twig" %}
        {% endblock %}

        {% block content %}{% endblock %}
    </body>
</html>