<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OFTEN</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Include jQuery #}
        <script src="{{ base }}/vendor/components/jquery/jquery.js"></script>

        {# Include Bootstrap #}
        <link rel="stylesheet" href="{{ base }}/vendor/components/bootstrap/css/bootstrap.css">
        <script src="{{ base }}/vendor/components/bootstrap/js/bootstrap.js"></script>

        {# Include JavaScript files #}
        <script src="{{ base }}/Assets/js/delete_entry.js"></script>

        {# TODO: fork SWAL and make it installable via composer #}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        {% block navigation %}
            {% include "components/navigation.twig" %}
        {% endblock %}

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>